                                                                                                                       
<!DOCTYPE html>
<html>
<head>

<h1 class="h" style= "text-align:center"; >Texas Top Attractions</h1>


  <script 
         src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" >
  </script>


   <script>
       function drawTable(data) {
                 i=0;
           while ( i < data.length) {
                drawRow(data[i]);
                i++ ;  }
        }

      function drawRow(k) {
      var eachrow = $("<tr></tr>");
     //var data = { k.p2009, k.p2010, k.p2011,k.p2012,k.p2013,k.p2014 ];
      

      $("#Texas").append(eachrow); 
      eachrow.append($("<td>" + k.name + "</td>"))
      eachrow.append($("<td>" + k.InterestingFacts + "</td>"));
      eachrow.append($("<td>" + k.Thingstodo + "</td>"));
      eachrow.append($("<td>" + "<input type='button' class='bt2' value='press me' onclick='mapping("+k.lattitude+","+k.longitude+")'></input>" + "</td>"));
                    
      eachrow.append($("<td>"+"<input type='button' class='bt1' value='Click here to see the trends' onclick='drawChart("+k.p2009 +","+ k.p2010+","+k.p2011+","+k.p2012+","+k.p2013+","+k.p2014+")'></input>"+"</td>"));                



      }
	function mapping(lattitude,longitude)
	{
		
		newsource="https://www.google.com/maps/embed/v1/view?key=AIzaSyCmU3Q3GZlS6aS6cf1fF4WtrybRzbvYbOY&center="+lattitude+","+longitude+"&zoom=18&maptype=satellite"
		$("iframe").attr('src',newsource);
		$("iframe").show();
	}


      $(document).ready(function()
       { 
	    $("#Texas").hide();
            $("iframe").hide();
            $("#chart_div").hide();
	    $("button").click(function()
	      {
		
		$.get("/url", function(data)
		{
                         
                           console.log(data);
                         //  console.log(data1);
                             drawTable(data);
                        // chart.draw(data, options);

                      // $("#chart_div").show();
			$("#Texas").show();

                        
                        
			$("button").hide();
		});
	   });
        });

</script>

    <!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
//	console.log(a,y,z,p,q,r);
   google.load('visualization', '1.0', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
    //  google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart(x,y,z,p,q,r) 
	{
         google.setOnLoadCallback(drawChart);
	console.log(x,y,z,p,q,r);
      // Create the data table.
      	var data = new google.visualization.DataTable();
      	data.addColumn('string', 'Year');
      	data.addColumn('number','Million');
      	data.addRows([
        ['2009', x],
        ['2010', y],
        ['2011', z], 
        ['2012', p],
        ['2013', q],
        ['2014', r]
      			]);

      // Set chart options
      	var options = {'title':'Yearwise Tourist Arrival Trends,from 2009 to 2014',
                     'width':500,
                     'height':400};

      // Instantiate and draw our chart, passing in some options.
      	var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      	chart.draw(data, options);
	$("#chart_div").show();
     	}

 </script>

<style>
    .h{     
            color:red; 
            text-align:center;
 
          }	


   body 
	{
		background-size: 1014px 788px;
                background-image: url("http://img1.jurko.net/wall/paper/wallpaper_18295.jpg");
		background-repeat: repeat;
	}
        
	.bt{
    
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: Times New Roman;
    font-size:30px;
    background-color: purple;
    color:orange ;
    margin-left: 25%;
    margin-right: 40%;
    margin-top: 10%;
    width: 50%;
    height: 40%;
    text-align:center;
    font-weight: bold;
    font-size : 160%;
    border: 1px solid brown;
    border-collapse: collapse;
    
            } 

.bt1{
    
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 5px;
    font-family: Times New Roman;
    font-size:20px;
    background-color:  blue;
    color:red;
   
   
    text-align:center;
    font-weight: bold;
    
    border: 1px solid brown;
    border-collapse: collapse;
            } 

.bt2{
    
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 5px;
    font-family: Times New Roman;
    font-size:20px;
    background-color:blue;
    color:red;
   
   
    text-align:center;
    font-weight: bold;
    
    border: 1px solid brown;
    border-collapse: collapse;
    
            } 


    
table, th, td {
          
          font-family: Times New Roman;
         border: 1px solid green;
         border-collapse: collapse;
         border-radius: 10px;
      }

      
     th {
         font-family: Times New Roman;
         padding: 5px;
        font-weight: bold;
        color:blue;
        font-size:150%;

        } 
	
</style>

 

 
</head>

<body style="background-color:blue">

<p> <button class="bt" > Welcome </button> </p>

  <table id="Texas">
       <tr>
          <th>Name</th>
          <th>Interesting Facts</th> 
          <th>Things To Do</th>
          <th>Click here to locate on Google Maps</th>
          <th>Tourist Trends</th>
       </tr>
   
  </table> 
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCmU3Q3GZlS6aS6cf1fF4WtrybRzbvYbOY&center=-33.8569,151.2152&zoom=18&maptype=satellite">
</iframe>

    <div id="chart_div" style="width:600; height:600"></div>



</body>

</html>
